<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <figure class="{data.tx_ucph_content_quote_alignment}">
        <blockquote class="blockquote" cite="{f:uri.typolink(parameter: data.tx_ucph_content_quote_link)}">
            <p>{data.bodytext}</p>
        </blockquote>
        <f:if condition="{data.tx_ucph_content_quote_source}">
            <figcaption class="blockquote-footer">
                <f:link.typolink parameter="{data.tx_ucph_content_quote_link}">{data.tx_ucph_content_quote_source}</f:link.typolink>
            </figcaption>
        </f:if>
    </figure>
</f:section>

</html>